<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Super-Heróis</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>


	</head>
	<body>
		<%- include("comum/header",{tipo:"sobre"}) %>

		<section class="container">
			
			<div class="lista-herois">			
				<div class="conteudo">
					<h1></h1>
					<h2></h2>
				</div>
				<div class=lista-herois>
					<ul></ul>
				</div>
			</div>



		</section>
		<%- include("comum/footer") %>
		<%- include("comum/javascripts") %>
	</body>
</html>