.nav-logo {
	height: 100%;
}

.footer {
	background: #ddd;
}

.footer-links {
	list-style-type: none;
}

.footer-links li {
	display: inline-block;
	padding-right: 30px;

}

.conteudo {
	padding-top: 100px;
}