.nav-logo {
	height: 100%;
}

.footer {
	background: #ddd;
}

.footer-links {
	list-style-type: none;
}

.footer-links li {
	display: inline-block;
	padding-right: 30px;

}

.lista-herois {
}

.lista-herois {
	width: 100%;
}

.lista-herois ul li {
	vertical-align:top;

	list-style: none;
}

.lista-herois .superpoderes {
	display: block;
	list-style: 
}
